<a href="https://colab.research.google.com/github/PLACHI02/Data-Analytics-Projects/blob/AMAZON-SALES-DATA.ipynb/AMAZON_SALES_DATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

STEP 1: DATA EXPLORATION & CLEANING

In [4]:
#1.LOAD THE DATASET
from google.colab import files
uploaded = files.upload()

Saving Amazon Sales data.csv to Amazon Sales data.csv

In [3]:
#2.READ THE DATASET
import pandas as pd
#Load the Dataframe with csv file
df =pd.read_csv("Amazon Sales data.csv")

#Display first few rows
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Amazon Sales data.csv'

In [ ]:
from google.colab import sheets
sheet = sheets.InteractiveSheet(df=df)

https://docs.google.com/spreadsheets/d/1q_0CN_vAaBWsN-lbdA5h49PETlCiaFfhxjM_sV0LLOU#gid=0

In [ ]:
#2.CHECK BASIC INFORMATION
#Check dataset shape (rows,columns)
df.shape

#Get column names and data types
df.info()

#View summary statistics
df.describe(include = "all") #Includes Categorical & Numerical data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    object
 1   Country         100 non-null    object
 2   Item Type       100 non-null    object
 3   Sales Channel   100 non-null    object
 4   Order Priority  100 non-null    object
 5   Order Date      100 non-null    object
 6   Order ID        100 non-null    int64
 7   Ship Date       100 non-null    object
 8   Units Sold      100 non-null    int64
 9   Unit Price      100 non-null    float64
 10  Unit Cost       100 non-null    float64
 11  Total Revenue   100 non-null    float64
 12  Total Cost      100 non-null    float64
 13  Total Profit    100 non-null    float64
dtypes: float64(5), int64(2), object(7)
memory usage: 11.1+ KB

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
count,100,100,100,100,100,100,1.000000e+02,100,100.000000,100.000000,100.000000,1.000000e+02,1.000000e+02,1.000000e+02
unique,7,76,12,2,4,100,NaN,99,NaN,NaN,NaN,NaN,NaN,NaN
top,Sub-Saharan Africa,The Gambia,Clothes,Offline,H,5/28/2010,NaN,11/17/2010,NaN,NaN,NaN,NaN,NaN,NaN
freq,36,4,13,50,30,1,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,5.550204e+08,NaN,5128.710000,276.761300,191.048000,1.373488e+06,9.318057e+05,4.416820e+05
std,NaN,NaN,NaN,NaN,NaN,NaN,2.606153e+08,NaN,2794.484562,235.592241,188.208181,1.460029e+06,1.083938e+06,4.385379e+05
min,NaN,NaN,NaN,NaN,NaN,NaN,1.146066e+08,NaN,124.000000,9.330000,6.920000,4.870260e+03,3.612240e+03,1.258020e+03
25%,NaN,NaN,NaN,NaN,NaN,NaN,3.389225e+08,NaN,2836.250000,81.730000,35.840000,2.687212e+05,1.688680e+05,1.214436e+05
50%,NaN,NaN,NaN,NaN,NaN,NaN,5.577086e+08,NaN,5382.500000,179.880000,107.275000,7.523144e+05,3.635664e+05,2.907680e+05
75%,NaN,NaN,NaN,NaN,NaN,NaN,7.907551e+08,NaN,7369.000000,437.200000,263.330000,2.212045e+06,1.613870e+06,6.358288e+05
max,NaN,NaN,NaN,NaN,NaN,NaN,9.940222e+08,NaN,9925.000000,668.270000,524.960000,5.997055e+06,4.509794e+06,1.719922e+06

In [ ]:
#3.HANDLE MISSING VALUES
#Find missing values
df.isnull().sum()

Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64

In [ ]:
#4.REMOVE DUPLICATES
#Count Duplicates
df.duplicated().sum()

#Remove Duplicates
df=df.drop_duplicates()

In [ ]:
#5.CONVERT DATA TYPES
# Convert 'Order Date' to datetime format
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%d-%m-%Y', errors='coerce') # Specify the correct format
df['Ship Date'] = pd.to_datetime(df['Ship Date'], format='%d-%m-%Y', errors='coerce')

In [ ]:
# Convert categorical columns
categorical_cols = ['Item Type', 'Sales Channel', 'Region', 'Customer Segment', 'Order Priority']

for col in categorical_cols:
    if col in df.columns:
        df[col] = df[col].astype('category')

In [ ]:
# Convert price and sales columns to numeric
df['Unit Price'] = pd.to_numeric(df['Unit Price'], errors='coerce')
df['Units Sold'] = pd.to_numeric(df['Units Sold'], errors='coerce')
df['Total Cost'] = pd.to_numeric(df['Total Cost'], errors='coerce')
df['Total Revenue'] = pd.to_numeric(df['Total Revenue'], errors='coerce')

# Verify changes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    category
 1   Country         100 non-null    object
 2   Item Type       100 non-null    category
 3   Sales Channel   100 non-null    category
 4   Order Priority  100 non-null    category
 5   Order Date      34 non-null     datetime64[ns]
 6   Order ID        100 non-null    int64
 7   Ship Date       36 non-null     datetime64[ns]
 8   Units Sold      100 non-null    int64
 9   Unit Price      100 non-null    float64
 10  Unit Cost       100 non-null    float64
 11  Total Revenue   100 non-null    float64
 12  Total Cost      100 non-null    float64
 13  Total Profit    100 non-null    float64
dtypes: category(4), datetime64[ns](2), float64(5), int64(2), object(1)
memory usage: 9.4+ KB

In [ ]:
#6 STANDARDIZE COLUMN NAMES
#Converting Column Names to Lower cases & Replacing spaces with underscores
df.columns = df.columns.str.lower().str.replace(' ', '_')

#Display Updated Columns
df.columns

Index(['region', 'country', 'item_type', 'sales_channel', 'order_priority',
       'order_date', 'order_id', 'ship_date', 'units_sold', 'unit_price',
       'unit_cost', 'total_revenue', 'total_cost', 'total_profit'],
      dtype='object')

In [ ]:
#7. VALIDATING FINAL CHECKS

df.info()

df.isnull().sum()

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          100 non-null    category
 1   country         100 non-null    object
 2   item_type       100 non-null    category
 3   sales_channel   100 non-null    category
 4   order_priority  100 non-null    category
 5   order_date      34 non-null     datetime64[ns]
 6   order_id        100 non-null    int64
 7   ship_date       36 non-null     datetime64[ns]
 8   units_sold      100 non-null    int64
 9   unit_price      100 non-null    float64
 10  unit_cost       100 non-null    float64
 11  total_revenue   100 non-null    float64
 12  total_cost      100 non-null    float64
 13  total_profit    100 non-null    float64
dtypes: category(4), datetime64[ns](2), float64(5), int64(2), object(1)
memory usage: 9.4+ KB

,region,country,item_type,sales_channel,order_priority,order_date,order_id,ship_date,units_sold,unit_price,unit_cost,total_revenue,total_cost,total_profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,NaT,669165933,NaT,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,NaT,963881480,NaT,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,2014-02-05,341417157,2014-08-05,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,NaT,514321792,2014-05-07,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2013-01-02,115456712,2013-06-02,5062,651.21,524.96,3296425.02,2657347.52,639077.50

STEP 2. DESCRIPTIVE STATISTICS

In [ ]:
df.describe() #Display only numerical data

,order_date,order_id,ship_date,units_sold,unit_price,unit_cost,total_revenue,total_cost,total_profit
count,34,1.000000e+02,36,100.000000,100.000000,100.000000,1.000000e+02,1.000000e+02,1.000000e+02
mean,2013-08-23 06:21:10.588235264,5.550204e+08,2013-08-16 04:40:00,5128.710000,276.761300,191.048000,1.373488e+06,9.318057e+05,4.416820e+05
min,2010-02-02 00:00:00,1.146066e+08,2010-01-08 00:00:00,124.000000,9.330000,6.920000,4.870260e+03,3.612240e+03,1.258020e+03
25%,2012-05-11 00:00:00,3.389225e+08,2012-07-03 06:00:00,2836.250000,81.730000,35.840000,2.687212e+05,1.688680e+05,1.214436e+05
50%,2013-07-07 00:00:00,5.577086e+08,2013-01-22 12:00:00,5382.500000,179.880000,107.275000,7.523144e+05,3.635664e+05,2.907680e+05
75%,2014-07-31 18:00:00,7.907551e+08,2014-12-17 12:00:00,7369.000000,437.200000,263.330000,2.212045e+06,1.613870e+06,6.358288e+05
max,2017-11-03 00:00:00,9.940222e+08,2017-05-06 00:00:00,9925.000000,668.270000,524.960000,5.997055e+06,4.509794e+06,1.719922e+06
std,NaN,2.606153e+08,NaN,2794.484562,235.592241,188.208181,1.460029e+06,1.083938e+06,4.385379e+05

In [2]:
#2. Sales Performance Analysis

#TOTAL SALES REVENUE
total_sales = df['total_revenue'].sum()
print(f"Total Sales Revenue: ${total_sales:,.2f}")

NameError: name 'df' is not defined